<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="angular.min.js"></script>
        <script>
                var app = angular.module('app', []);

                app.controller('TestController', function ($scope) {
                        this.arrayText = [{ text: 'Hello', }, { text: 'world' }];

                        this.addText = function (text) {

                                if (text) {
                                        var obj = {
                                                text: text
                                        };
                                        this.arrayText.push(obj);
                                        this.myText = '';
                                        console.log(this.arrayText);
                                }
                        }
                });
        </script>
</head>

<body ng-app="app">
        <form ng-controller="TestController as testCtrl" ng-submit="testCtrl.addText(testCtrl.myText)">
                <input type="text" ng-model="testCtrl.myText" value="Lets go">
                <button type="submit">Add</button>
                <div ng-repeat="item in testCtrl.arrayText">
                        <span>{{item}}</span>
                </div>
        </form>
</body>

</html>